.container {
    /**max-width: 100rem;**/
    margin: 0 auto;
    padding: 2rem;
    /* aspect-ratio: 4/3; */
    background-color: white;
    font-size: 1.5rem;
    border-radius: 20px;
}

.form{
    
    font-size: 1.5rem;
}

.titulo{
    font-size: 2rem;
}

.info{
    font-size: 1.5rem;
    color: #767676;
}

.texto{
    font-size: 1.5rem;
}
.buttonTurno{
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #767676;
    
}

.buttonHorario{
    font-size: 1.5rem;
    
    background-color: rgb(26, 156, 113);
   
}

.buttonTurno--active{
    background-color: rgb(26, 156, 113);
}

.buttonHorario--inactive{
    background-color: #767676;
}

.modal{
    
    display: flex;
    flex-wrap: wrap;
}

.buttonModal{
    margin: 1rem;
    font-size: 1.5rem;
    color:  rgb(26, 156, 113);
    
    background-color: rgb(254, 255, 255);
   
}