.footer {
  height: 107px;
  width: auto;
  text-align: center;
  border-top: 0.15em solid #008c73;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-color {
  color: #008c73;
  font-size: 1.3331rem;
}

.footer-links .footer-link {
  color: #008c73;
  font-size: 1.3331rem;
}

.footer-brand {
  color: #767676;
  font-size: 1.3331rem;
}

@media (max-width: 360x) {
  .footer {
    height: 107px;
    width: 380px;
    /* text-align: left; */
    border-top: 0.15em solid #008c73;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
  }
  .footer-container {
    text-align: left;
    margin-left: 5%;
  }
  .footer-brand {
    color: #767676;
    font-size: 1.13rem;
    margin: 0;
    padding: 0;
  }
  .footer-links .footer-link {
    color: #008c73;
    font-size: 1.13rem;
    padding: 0;
    margin: 0;
  }
  .brand-color {
    color: #008c73;
    font-size: 1.13rem;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 107px;
    width: 100%;
    /* text-align: left; */
    border-top: 0.15em solid #008c73;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-container{
    text-align: center;
    /* text-align: left; */
    margin-left:5%;
  }
}
