.about {
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 2rem;
  flex-basis: 45%;
}

.column h2 {
  font-size: 34px;
  margin-bottom: 12px;
  font-weight: bold;
}

.column img {
  margin-bottom: 12px;
}

p {
  font-size: 25px;
}

span {
  margin-bottom: 5px;
}

.span_title {
  display: grid;
  margin-top: 16px;
  font-size: 25px;
}

@media (max-width: 1024px) {
  .column-right{
    
    display: flex;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .column {
    flex-basis: 100%;
    margin-bottom: 24px;
  }

  .column-right{
    display: flex;
    left: 100px;
  }
}

@media (max-width: 360px) {
  .about {
    padding: 14px;
  }

  .column {
    padding: 0.5rem;
  }

  .column h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .column img {
    margin-bottom: 10px;
  }

  p {
    font-size: 20px;
  }

  span {
    margin-bottom: 4px;
  }

  .span_title {
    display: block;
    margin-top: 12px;
  }
  
  .column-right{
    width: 100%;
  }
}