.about {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .title-description__about h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.3rem;
}

.about .title-description__about p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.about .computerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about .computerContainer . .about .computerContainer img {
  height: 20rem;
  width: 32.6rem;
  justify-self: center;
}
.about .computerContainer p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
}

.about .computerContainer p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.promoting-container .tittle-logo-container__promoting {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.promoting-container .tittle-logo-container__promoting h2 {
  margin-left: 2rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.3rem;
}

.promoting-container p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
