.pharmacy-owner {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.pharmacy-owner form {
  display: flex;
  flex-direction: column;
}
.pharmacy-owner h2 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
}
.pharmacy-owner p {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin-bottom: 2.7rem;
}

.pharmacy-owner .label {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
}

.pharmacy-owner .custom-row {
  margin-bottom: 1.6rem;
  align-items: center;
}

.pharmacy-owner .custom-row input {
  widht: 100%;
  height: 3.8rem;
  margin-left: 0.7rem;
  font-size: 1.6rem;
}

.pharmacy-owner button {
  width: 15.8rem;
  height: 4rem;
  font-size: 1.6rem;
  align-self: center;
}
.pharmacy-owner img {
  widht: 0;
  height: 0;
}

@media (min-width: 768px) {
  .pharmacy-owner {
    width: 100vw;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
  }
  .pharmacy-owner form {
    display: grid;
    grid-template-columns: 1fr 1fr 25.4rem;
    grid-template-rows: 6.5rem 6.5rem contain 4rem 4rem;
    gap: 4rem;
  }
  .pharmacy-owner .row1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .pharmacy-owner .row2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .pharmacy-owner .row3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .pharmacy-owner img {
    widht: inherit;
    height: inherit;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
  }
  .pharmacy-owner button {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    margin: 0 auto;
  }
}
