.divider {
  display: grid;
  padding: 40px;
  font-size: 25px;
  grid-template-columns: 1fr 1fr;
}

.section_parrafo{
  display: grid;
  margin-top: 50px;
 
}

.section_parrafo p {
  position: relative;
  font-size: 25px;
  
}

.divider h1 {
  margin-bottom: 15px;
  font-size: 48px;
}

.column-left {
  justify-self: start;
}

.column-right {
  justify-self: end;
}

.column-right img{
  margin-right: 55px;
  width: 100%;
}

.divider h2  {
  position: relative;
  font-weight: 500;
  top: 28px;
  font-size: 30px;
}


@media (max-width: 1024px){
  .divider {
    grid-template-columns: 1fr;
    
  }
  
  .column-right img {
    position: relative;
    
    margin-top: 20px;
    width: 120%;
  }


}

@media (max-width: 768px) {
  .divider {
    grid-template-columns: 1fr;
    padding: 34px;
  }
  
  .column-right img {
    position: relative;
    left: -10px;
    margin-top: 20px;
    width: 120%;
  }

  .divider h2 {
    top: 0;
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .divider {
    padding: 14px;
    grid-template-columns: 1fr;
  }

  .divider h1 {
    font-size: 24px;
  }

  .divider h2 {
    top: 0;
    font-size: 20px;
  }

  .column-right img {
   position: relative;
   margin-top: 30px;
   width: 120%;
  }
  
  .section_parrafo p {
    font-size: 20px;
  }
}